.collection,
.product > #MainContent,
.product section {
  background-color: black;
  color: #ceff00;
  padding-bottom: 80px;
}
.template-search__results {
  background-color: #ceff00;
}
#Password,
.product h2 {
  color: #ceff00;
}
.article .breadcrumb,
#events .breadcrumb,
#about .breadcrumb {
  display: none;
}
#about > #MainContent > * section,
.article #MainContent,
.article section,
#events section,
#about section,
#contact * section,
#contact * input,
#contact * textarea,
#contact * input::placeholder,
#contact * textarea::placeholder {
  background-color: white;
}
#events .ticker-section {
  background-color: #ceff00;
  position: relative;
}
.page.contact {
  display: flex;
  flex-direction: column;
}
.page.contact > #MainContent {
  height: 775px;
  position: relative;
}
footer .footer-block--logo,
footer .footer-block-menu__item__text {
  max-width: unset;
}
.article-footer,
.tscBrandContainer,
.header-mobile__menu-main > li:last-child,
.header-mobile__submenu > li:last-child {
  display: none;
}
#Search-In-Template,
#Search-In-Template::placeholder {
  color: #ceff00;
}
@media (max-width: 768px) {
  .card-wrapper {
    background-color: transparent;
  }
  input::placeholder {
    overflow: visible;
  }
  .footer-block--logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .index .image-banner-section {
    --image-height: 61vh !important;
  }
}
@media (min-width: 768px) {
  .image-with-text {
    background-color: white;
    color: black;
  }
  .subtitle,
  .h2 {
    color: inherit;
  }
  .image-with-text__block-text__wrapper {
    padding: 0 0 0 40px;
  }
  .image-with-text__block-image {
    margin-right: 40px;
  }
  .product-form__submit {
    width: 407px;
  }
  .product-form__quantity {
    width: 175px;
  }
}
.password-main {
  padding-top: 0;
}