@media (max-width: 1200px) {
  .h4 {
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: -1.5px;
  }
  path {
    stroke-width: 2px;
    color: black;
  }
  .header-mobile__left,
  .header-mobile__right {
    mix-blend-mode: unset;
  }
  .active > * path {
    color: #ceff00;
  }
  .h6,
  .header-mobile__submenu,
  .header-mobile .animate-bg * {
    color: #ceff00;
  }
}