@media (max-width: 800px) {
  .h4 {
    text-transform: capitalize;
    font-size: 20px;
  }
  path {
    stroke-width: 2px;
    color: black;
  }
  .header-mobile__left,
  .header-mobile__right {
    mix-blend-mode: unset;
  }
  .active > * path {
    color: #ceff00;
  }
}