.collection,
.product > #MainContent,
.product section,
#contact * section,
#contact * input,
#contact * textarea,
#contact * input::placeholder,
#contact * textarea::placeholder {
  background-color: black;
  color: #CEFF00;
}
.product h2 {
  color: #CEFF00;
}
#about > #MainContent > * section {
  background-color: white;
}
.article .breadcrumb,
#events .breadcrumb,
#about .breadcrumb {
  display: none;
}
.article #MainContent,
.article section,
#events section,
#about section {
  background-color: white;
}
#events .ticker-section {
  background-color: #CEFF00;
  position: relative;
}
.article-footer {
  display: none;
}

