@import '../../global-styles/_variables.scss';

.Textblock {
    width: 100%;
    text-align: left;
    color: red;
    margin-top: $paragraph-font-size;
    line-height: $paragraph-font-size;
    font-size: $paragraph-font-size;
    color: $primary-color;
    &.desktop {
        width: 50%;
        margin-top: 0;
    }
    &.mobile {
        transition: all $nav-speed $nav-ease;
        transform: translateX(0);
        &.open {
            transform: translateX(150vw);
        }
    }
}