.product__info-wrapper * {
  color: #ceff00;
}

.product__outer {
  gap: 20px;
}

.shopify-payment-button__button {
  background-color: #ceff00;
  color: black;
}
label[value="black"] {
  border-color: #ceff00;
}

.product-about__wrapper,
.product-parameters__variant {
  border-top: 1px solid #ceff00;
}

@media (min-width: 1200px) {
  .product-form__submit {
    width: 407px;
  }
}