
.blockqoute__image__block:after {
  display: none;
}

@media (max-width: 768px) {
  .blockquote__image {
    order: 2;
  }
}

@media (min-width: 768px) {
  .container {
  max-width: unset;
}
.blockqoute__image {
  flex: 0 0 49%;
  max-width: 49%;
}
}