@font-face {
    font-family: "AvantGard1";
    src: local("AVGARDD_2"),
     url("./fonts/Avantgarde/AVGARDD_2.TTF") format("truetype");
    font-weight: bold;
   }

@font-face {
font-family: "AvantGard2";
src: local("AVGARDDO_2"),
    url("./fonts/Avantgarde/AVGARDDO_2.TTF") format("truetype");
font-weight: bold;
}

@font-face {
font-family: "AvantGard3";
src: local("AVGARDN_2"),
    url("./fonts/Avantgarde/AVGARDN_2.TTF") format("truetype");
font-weight: bold;
}